*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-font: #fff;
}
html{
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}
/* Css navigation */
#navigation{
    width: 100%;
    height: 4.6rem;
    background: #0e0d0d;   
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 16%);
    position: fixed;
    z-index: 1;
    top: 0;
}
/* Nav in tablet, pc */
.nav__menu{
    display: flex;
    align-items: center;
    list-style: none;
    height: 4.6rem;
}
.nav__pc{
    display: flex;
    justify-content: space-between;
}
/* Nav in mobile */
.nav__mobile {
    display: flex;
    width: 100%;
    height: 4.6rem;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center ;
}
.nav__mobile > a {
    height: 4.6rem;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
}
.nav__mobile-menu {
    position: absolute;
    top: 100%;
    list-style: none;
    width: 100%;
    height: auto;
    background-color: #000;
    display: none;
    animation: fadeIn linear 0.2s;
}
#display.open{
    display: block;
}
.nav__mobile-bars {
    color: #fff;
    padding: 1.2rem 2.4rem;
    height: 4.6rem;
}
#display .nav__list:hover {
    background-color: #ccc;
    color: #000;
}
div#input__nav:hover {
    background: #ccc;
    color: #000;
}
.nav__input {
    display: none;
}
.overlay {
    background-color: rgb(12 10 10 / 20%);
    position: fixed;
    margin-top: 4.6rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    animation: fadeIn linear 0.3s;
}
a.nav__mobile-list {
    display: block;
    padding: 1.2rem 2.4rem;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 4.6rem;
}
.nav__menu li {
    position: relative;
    padding: 1.2rem 2.4rem;
    font-size: 1.5rem;
}
.nav__menu > li > a{
    color: #fbfbfb;
    text-decoration: none;
}
.nav__menu li:hover{
    background-color: rgb(134, 129, 129);
    cursor: pointer;
}
.nav__menu li:hover .nav__menu--subnav{
    display: block;
}
.nav__menu--subnav li:hover{
    background-color: #b2c38e;
}
.nav__menu--subnav{
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background: #ccc;
    width: 12rem;
    display: none;
}
.nav__menu--subnav li {
    padding: 8px 16px;
}
.nav__menu--subnav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
}
#nav__search{
    padding: 1.4rem 2.6rem;
}
#nav__search:hover {
    background: #e73535;
    cursor: pointer;
}
/* Button search */
#nav__search > i{
    font-size: 1.6rem;
    color: #fff;
}

#avatar{
    position: relative;
    margin-top: 4.6rem;
    background: url(./image/chicago.jpg) top center / cover no-repeat;
    padding-top: 50%;
}
.avatar__content{
    position: absolute;
    padding: 3.2rem 1.6rem;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0px);
    color: #fff;
    text-align: center;
}
.content__place{
    font-size: 2.4rem;
    font-weight: 400;
    margin: 10px 0;
    color: #ffffffeb;
}
.content__slogan{
    font-size: 1.5rem;
    margin: 15px 0;
}
#band{

}
.container{
    max-width: 100%;
    width: 800px;
    height: auto;
    padding: 6.4rem 1.6rem;
    margin-left: auto;
    margin-right: auto;
}
.title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: 400;
    margin: 1rem 0;
}
.slogan {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(124 87 87 / 80%);
}
.text__content {
    margin: 10px 0;
    font-size: 1.5rem;
    text-align: justify;
    word-spacing: -1px;
}
.Band {
    display: flex;
    padding: 3.2rem 0;
    width: 100%;
    height: 100%;
}
.Band__Individuals {
    text-align: center;
    font-size: 1.5rem;
}
.Band__Individuals p {
    margin: 15px 0;
}
.Band__Individuals img {
    width: 60%;
    margin: 0 0 16px;
}
#Tour{
    background: #000;
    width: 100%;
    height: auto;
}
#Tour .title {
    color: #fff !important;
}
#Tour .slogan{
    color: #bab1b1 !important ;
}

.Tour__sale-status {
    background-color: #fff;
    color: #a59393;
    width: 100%;
    list-style: none;
    font-size: 1.5rem;
}
.time__sales{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}
.soutout {
    display: inline-block;
    margin-left: 16px;
    padding: 0 8px;
    background: #f44336;
    font-size: 1.5rem;
    color: #fff;
}
.ticket-left {
    float: right;
    background: #000;
    padding: 0 8px;
    margin-left: 16px;
    border-radius: 50%;
}
.Tour__list {
    padding: 32px 8px;
    display: flex;
    margin: 0 -16px;
    font-size: 1.5rem;
}
.Tour__info {
    display: flex;
    flex-direction: column;
    width: 33.33333%;
    padding: 0 8px;
    margin-bottom: 16px;
}
.info__detail{
    background: #fff;
    padding: 0 16px;
}
.detail--style{
    margin: 15px 0;
}
.info__detail--place{
    font-weight: 600;
}
.info__detail--time{
    opacity: 0.6;
}
.buy-ticket{
    margin-bottom: 16px;
    padding: 8px 16px;
    border: none;
    font-size: 1.5rem;
    background: #000;
    color: #fff;
}
.buy-ticket:hover, .form__button:hover{
    background: #a9a2a2fc;
    color: #000;
    cursor: pointer;
}
.contact__content{
    display: flex;
    padding: 32px 0;
}
.contact__content--info {
    width: 49.999%;
    margin-bottom: 16px;
    font-size: 1.8rem;
}
.content__icon--style{
    color: #000;
    width: 30px;
}
.form__container{
    display: flex;
    margin: 0 -16px 8px;
    padding: 0 8px;
}
.form__login{
    padding: 0 8px;
}
.login--style {
    padding: 8px;
    width: 100%;
    border: 1px solid rgb(114 111 111 / 60%);
}
.form__button {
    padding: 8px 16px;
    margin: 16px 0;
    font-size: 1.5rem;
    float: right;
    background: #000;
    color: #fff;
    border: none;
}
.footer{
    padding: 64px 16px;
    text-align: center;
    opacity: 0.6;
}
.footer__icon{
    width: 100%;
    height: auto;
}
.footer__icon i:hover, .footer a:hover{
    opacity: 0.7;
}
.footer__icon--style{
    color: #000;
    font-size: 2.2rem;
    padding: 0 2px;
}
.footer__text{
    margin: 15px 0;
    font-size: 1.5rem;
}
.footer a{
    color: #000;
}